@model WebHelloWorld.ViewModels.IndexViewModel

<div class="row">
    <div class="col-md-12">
        <h2>Courses and Topics</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Course Name</th>
                    @foreach (var topic in Model.Topics)
                    {
                        <th>@topic.Name</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model.Courses)
                {
                    <tr>
                        <td>@course.Name</td>
                        @foreach (var topic in Model.Topics)
                        {
                            <td>
                                @if(course.TopicCourses.ToArray().Any(t => t.TopicId == topic.TopicId))
                                {
                                    <span>&#10004;</span> <!-- This marks the topic as part of the course -->
                                }
                                else
                                {
                                    <span>&#10006;</span> <!-- This marks the topic as not part of the course -->
                                    @course.TopicCourses.Count;
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <div class="col-md-6">
        <h2>Users</h2>
        <ul>
            @foreach (var user in Model.Users)
            {
                var displayText = user.Username;
                string usernameLink = null;
                if (!string.IsNullOrEmpty(user.Username))
                {
                    usernameLink = "https://t.me/" + user.Username;
                    displayText = $"<a href=\"{usernameLink}\">Link</a>"; // Create the anchor tag as a string
                }

                <li>
                    <code>@user.UserId</code> - 
                    @user.FirstName @user.LastName 
                    @if(usernameLink != null)
                    {
                        @Html.Raw(displayText) // Use Html.Raw to render the anchor tag correctly
                    }
                    else
                    {
                        
                    }
                </li>
            }

        </ul>
    </div>
</div>