@model WebHelloWorld.ViewModels.IndexViewModel

<div class="row">
    <div class="col-md-6">
        <h2>Courses and Topics</h2>
        <h3>Courses</h3>
        <ul>
            @foreach (var course in Model.Courses)
            {
                <li>@course.Name - @course.Description</li>
            }
        </ul>

        <h3>Topics</h3>
        <ul>
            @foreach (var topic in Model.Topics)
            {
                <li>@topic.Name - @topic.Description</li>
            }
        </ul>
    </div>

    <div class="col-md-6">
        <h2>Users</h2>
        <ul>
            @foreach (var user in Model.Users)
            {
                <li>@user.FirstName</li> <!-- Display additional user details as needed -->
            }
        </ul>
    </div>
</div>